$main-color: #521751;
$opposite-color: #c22184;
$colors: (
  primary: #521751,
  secondary: #fae5ff,
);
$border-default: 0.05rem solid $main-color;
$font-default: arial, sans-serif;
$padding-default: 1rem;
