@import "typography.scss";
@import "_variables.scss";

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 94.75%;

  @media (min-width: 40rem) {
    font-size: 125%;
  }
}

body {
  font-family: $font-default;
  margin: 0;
}

.container {
  @include display-flex();
  flex: {
    direction: column;
    wrap: nowrap;
  }
  align-items: center;
  padding: 3rem 0;

  @media (min-width: 40rem) {
    padding: 3rem 0;
  }
}

.sass-section {
  border: $border-default;
  background: lighten($main-color, 70%);
  text-align: center;
  width: 90%;

  @media (min-width: 40rem) {
    width: 30rem;
  }
}

.sass-introduction {
  @extend .sass-section;
  padding: 2rem;
  box-shadow: 0.2rem 0.2rem 0.1rem #ccc;

  p {
    margin: 0;
  }
}

.sass-details {
  @extend .sass-section;
  padding: 1rem;
  margin: 2rem 0;
}

.section-header {
  border-bottom: $border-default;

  h1 {
    margin: 0 0 1rem 0;
  }
}

.documentation-links {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
  @include display-flex();
  flex-direction: column;

  li {
    margin: 0.2rem 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: $main-color;
    display: block;
    padding: 0.2rem;
    border: $border-default;

    &:hover,
    &:active {
      color: white;
      background: $opposite-color;
      border-color: $opposite-color;
    }
  }
}

@media (min-width: 40rem) {
  .sass-introduction,
  .sass-details {
    width: 30rem;
  }
}
